{% extends "base.html" %}

{% block title %}
Home filmes HashFlix
{% endblock %}
{% block content %}
<div class ="py-12">
    <h1>Esse é o detalhe do filme: {{object.titulo}}</h1>
    <a href=""><p>{{ object.titulo}}</p></a>
    <p>{{object.descricao}}</p>
    <img src = "{{ object.thumb.url }}"/>

    <h2>Episódios</h2>
    {%for episodios in object.episodios.all%}
        <a href="{{ episodios.video }}">
            <p>Episódio {{ forloop.counter }}: {{ episodios.titulo }}</p>
        </a>
        
    {%endfor%}
    
</div>
{% endblock %}